/* Universal styling */
div, img, span, body, a {
  border: 1px solid black;
}

html {
  font-size: 18px;
}

header, .banner, .nav, #store-items, #contact, footer {
  display: flex;
  justify-content: center;
}

/* Header */
header {
  background-color: #000000;
}

#header {
  color: #ffffff;
  width: 960px;
}

/* Banner */
.banner {
  background-image: url("../img/moto.jpeg");
  height: 25rem;
  background-size: cover;
}

#banner-text {
  width: 960px;
}
/* Navigation */
.nav {
  background-color: firebrick;
  padding: 0.75rem 0;
}

nav {
  width: 960px;
}

/* Store Items */
#store-items-list {
  width: 960px;
}

/* Contact Information */
#contact-and-location {
  width: 960px;
}

/* Footer */
footer {
  background-color: #000000;
}

#copyright {
  color: #ffffff;
  width: 960px;
}
